.header {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: fit-content;
  grid-template-areas: "logo search links";
  padding-top: 15px;
}

.header__logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
    color: var(--header-text-color);
}

.header__search {
    grid-area: search;
    display: flex;
    justify-content: center;
    font-weight: 900;
}

input:focus {
    /* color: var(--text-color); */
    font-weight: 900;
}

input::before {
    content: "     ";
}
.header__search i {
    position: absolute;
    align-self: center;
    transform: translateX(-75px);
    opacity: 0.4;
}



.header__links {
    grid-area: links;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    padding-right: 15px ;
}

.header__links-list {
    display: flex;
}

.header__link a {
    color: var(--header-text-color);
    text-decoration: none;
    margin: 5px;
    font-size: 0.95rem;
    /* letter-spacing: 0.09ch; */
    text-transform: uppercase;
}
