.header {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: fit-content;
  grid-template-areas: "logo search links";
  border: 2px green;
}

.header__logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}

.header__search {
  grid-area: search;
  display: flex;
  justify-content: center;
}

.header__links {
  grid-area: links;
  display: flex;
  justify-content: flex-end;
}

.header__links-list {
  display: flex;
}
