.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px 100px;
}

.main__title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.03ch;
}

.main__article {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.main__article--title {
    font-size: 1.2rem;
}

.main__article--title:hover {
    color: var(--header-text-color);
}



.main__article--image {
    width: 500px;
    height: 300px;
}

.main__article--price {
    text-align: right;
}

.main__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.main__button button {
    padding: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid var(--btn-border-color);
    box-shadow: 2px 2px var(--btn-border-color);
}

.main__button>button:hover {
    color: var(--header-text-color);
    border: 1px solid var(--header-text-color);
    box-shadow: 5px 5px var(--header-text-color);
}

/* .footer {
    max-width: 100vw;
} */

@media screen and (max-width:700) {
    .main__article {
        justify-content: center;
        width: 100px;        
    }

    .main__article--image {
        width: fit-content;
    }
}

