

.main {
    /* display: flex; */
    /* margin: 3rem auto; */
    /* flex-wrap: wrap; */
    /* max-width: 750px; */
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px 100px;
}

.main__title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.03ch;
}

.main__article {
    display: flex;
    flex-direction: column;
    /* width:fit-content */
}

.main__article--image {
    width: 500px;
    height: 300px;
}

.main__article--price {
    text-align: right;
}

.main__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: right;
    max-width: 90vw;
}

@media screen and (max-width:700) {
    .main__article {
        justify-content: center;
        width: 100px;        
    }

    .main__article--image {
        width: fit-content;
    }
}

